        @media only screen and (min-width: 576px) {
            .container {
                max-width: 570px;
            }
        }
        
        @media only screen and (min-width: 768px) {
            .container {
                max-width: 758px;
            }
        }
        
        @media only screen and (min-width: 992px) and (max-width:1199px) {
            .container {
                max-width: 980px;
            }
        }
        
        @media only screen and (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }
        
        @media only screen and (max-width: 992px) {
            .slider-food .food-img {
                flex: 1 1 40rem;
            }
            .slider-food .food-img img {
                height: 340px;
            }
            .popular-foods-boxes .popular-food-box img {
                width: 85%;
                height: 14rem;
            }
            .order form {
                gap: 0
            }
            form .right-form,
            form .left-form {
                width: 100%;
            }
            form .right-form {
                margin-left: 0rem;
            }
        }
        
        @media only screen and (max-width: 850px) {
            header .navbar ul li {
                margin-left: 0px;
            }
            header .navbar ul li a {
                font-size: 14px;
            }
        }
        
        @media only screen and (max-width: 767.5px) {
            header {
                box-shadow: none;
            }
            header .navbar {
                border-top: 1px solid #eee;
                background-color: #fff;
                position: fixed;
                top: 5.3rem;
                left: 0;
                right: 0;
                padding-top: 1rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
            }
            header .navbar.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            header nav ul {
                display: block !important;
            }
            header .navbar li {
                margin: 1rem !important;
                padding: 0;
            }
            header .navbar li a {
                font-size: 1.5rem;
                display: block;
                background-color: #eee !important;
                padding-right: 2rem !important;
                color: #000 !important;
            }
            header .navbar ul li a:hover {
                background-color: var(--green) !important;
                color: #fff !important;
            }
            #first-icon {
                display: block !important;
            }
            header .icons #first-icon #menu-bar span {
                background-color: rgb(0, 0, 0);
                width: 16px;
                height: 2.2px;
                display: block;
                margin: auto;
                position: relative;
                transition: all .3s ease-in;
                -webkit-transition: all .3s ease-in;
                -moz-transition: all .3s ease-in;
                -ms-transition: all .3s ease-in;
                -o-transition: all .3s ease-in;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
            header .icons #first-icon #menu-bar span::before,
            header .icons #first-icon #menu-bar span::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000;
                top: 0;
                right: 0;
                transition: all .3s ease-in;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
            header .icons #first-icon #menu-bar span::after {
                transform: translateY(6px);
                -webkit-transform: translateY(6px);
                -moz-transform: translateY(6px);
                -ms-transform: translateY(6px);
                -o-transform: translateY(6px);
            }
            header .icons #first-icon #menu-bar span::before {
                transform: translateY(-6px);
                -webkit-transform: translateY(-6px);
                -moz-transform: translateY(-6px);
                -ms-transform: translateY(-6px);
                -o-transform: translateY(-6px);
            }
            header .icons #first-icon #menu-bar.change span {
                background-color: transparent;
            }
            header .icons #first-icon #menu-bar.change span::after {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            header .icons #first-icon #menu-bar.change span::before {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
            }
            header .icons #first-icon:hover #menu-bar span {
                background-color: #fff;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
            header .icons #first-icon:hover #menu-bar span::before,
            header .icons #first-icon:hover #menu-bar span::after {
                background-color: #fff;
            }
            header .icons #first-icon:hover #menu-bar.change span {
                background-color: transparent;
            }
            .slider-food .slider-food-description h1 {
                font-size: 2.5rem;
                padding: 0.7rem 0;
            }
            .slider-food {
                flex-direction: column-reverse;
                justify-content: space-between;
                padding-bottom: 2.3rem;
            }
            .slider-wrapper {
                margin-top: 5rem;
            }
            .special-btn {
                font-size: 1.1rem;
            }
            .special-foods {
                padding-top: 5.5rem;
            }
            .slider-food .slider-food-description {
                text-align: center;
            }
            .slider-food .food-image img {
                width: 92%;
                height: 90%;
                padding-right: 2.5rem;
            }
            .about .container .row .about-content h3 {
                text-align: center;
            }
            .reviews .section-title {
                margin-bottom: 0 !important;
            }
        }
        
        @media only screen and (max-width: 578px) {
            .search-overlay form {
                width: 78%;
            }
            .search-overlay form #search-box {
                font-size: 1.2rem;
            }
            .search-overlay form .submit-btn svg {
                font-size: 1.5rem;
            }
            .search-overlay .close-overlay {
                top: 2rem;
                right: 2rem;
                font-size: 2.7rem;
            }
        }
        
        @media only screen and (max-width: 400px) {
            header a {
                display: none;
            }
            header .icons {
                margin: 0 auto;
            }
            .special-foods {
                padding-top: 0;
            }
            .menu .menu-boxes-container {
                grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
            }
            .popular-foods-boxes {
                grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
            }
            .popular-foods-boxes .popular-food-box span {
                display: block;
            }
            .section-title h2 {
                font-size: 1.6rem;
            }
            .menu .menu-boxes-container .menu-box .menu-box-content span {
                display: block;
            }
            .user-slider>svg {
                display: none;
            }
            form .input-box input::placeholder {
                font-size: 0.8rem;
                letter-spacing: 0;
            }
        }